<app-gs-header></app-gs-header>

<div class="pt-4"></div>

<router-outlet></router-outlet>

<!-- <app-gs-navigation
  [currentPage]="currentPage"
  (changePageEvent)="changePage($event)"
></app-gs-navigation> -->

<!-- <div class="pt-6"></div> -->

<!-- <div class="" *ngIf="isPage('tableau-de-bord')">
  <app-gs-demande [demandes]="demandeService.demandes()"></app-gs-demande>
</div> -->

<!-- <div class="" *ngIf="isPage('nouveau-stock')">
  <div class="mb-8 flex items-center justify-between px-8">
    <div>
      <h1 class="text-xl font-semibold">Nouvelle Entrée de Stock</h1>
      <p class="text-muted-foreground">
        Gérez les nouvelles arrivées de produits
      </p>
    </div>
    <button class="button-primary text-lg">
      <i class="fas fa-save pr-1"></i>
      Enregistrer
    </button>
  </div>

  <div class="px-8 mb-8">
    <div class="card p-6">
      <p class="text-lg font-medium">
        <i class="fas fa-truck text-primary pr-1"></i> Information
      </p>
      <div class="pt-4">
        <div class="">
          <label class="block">Fournisseur</label>
          <input class="input w-full px-4 py-1" type="text" placeholder="Selectionner le fournisseur" />
        </div>
        <div class="pt-4">
          <label class="block">Motif</label>
          <textarea class="input w-full py-1 px-4" placeholder="Entrez le motif..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="px-8 mb-8">
    <div class="card p-6">
      <div class="flex justify-between items-center mb-4">
        <p class="text-lg font-medium">
            <i class="fas fa-boxes text-primary pr-1"></i> Liste des médicament
        </p>
        <button class="button-primary">
            <i class="fas fa-plus pr-1"></i> Ajouter
        </button>
      </div>

    </div>
  </div>

</div> -->
