<style>
  input.ng-touched.ng-invalid {
    outline: 2px solid var(--destructive);
  }
</style>

<main class="flex h-screen w-screen items-center justify-center">
  <div class="card w-[320px] p-6">
    <h1 class="text-2xl font-bold">Se connecter</h1>
    <div class="pt-6">
      <form [formGroup]="loginFormData" (submit)="login($event)">
        <!-- input email -->
        <div class="flex flex-col">
          <label for="email">E-mail</label>
          <input
            class="input pl-2"
            type="text"
            id="email"
            name="email"
            formControlName="email"
          />
          <p class="text-destructive" *ngIf="isInvalid('email')">
            <span *ngIf="loginFormData.get('email')?.hasError('required')">Required</span>
            <span *ngIf="loginFormData.get('email')?.hasError('email')">E-mail non valide</span>
          </p>
        </div>
        <!-- input mot de passe  -->
        <div class="flex flex-col pt-4">
          <label for="motDePasse">Mot de passe</label>
          <input
            class="input pl-2"
            type="text"
            id="motDePasse"
            name="motDePasse"
            formControlName="motDePasse"
          />
          <p class="text-destructive" *ngIf="isInvalid('motDePasse')">
            <span *ngIf="loginFormData.get('motDePasse')?.hasError('required')">Required</span>
          </p>
        </div>
        <!-- credentials invalid  -->
         <div class="pt-4" *ngIf="invalidCredentials">
          <p class="text-destructive">E-mail ou mot de passe incorrect</p>
         </div>

        <!-- button submit -->
        <div class="pt-4">
          <button class="button-primary">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</main>
