<style>
  input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
    outline: 2px solid var(--destructive);
  }
</style>

<div
  class="absolute top-0 left-0 z-20 flex h-screen w-screen items-center justify-center bg-black/20"
>
  <div class="card absolute w-[375px] p-6">
    <div class="border-b-border border-b pb-2">
      <p class="text-lg font-semibold">{{ selected === null ? 'Ajouter' : 'Modifier' }}</p>
    </div>
    <div class="pt-4"></div>
    <form [formGroup]="medicamentFormData" (submit)="submit($event)">
      <div class="">
        <label class="text-lg">Médicament</label>
        <app-select-with-search [className]="`w-full px-2 py-1 ${isInvalid('nomMedicament') ? 'input-error' : 'input'}`" [options]="nomMedicaments" formControlName="nomMedicament"></app-select-with-search>
        <p class="text-destructive" *ngIf="isInvalid('nomMedicament')">
          <span *ngIf="hasError('nomMedicament', 'required')">Required</span>
        </p>
      </div>
      <div class="pt-4">
        <label class="text-lg">Quantite</label>
        <input
          class="input w-full px-2 py-1"
          type="number"
          formControlName="quantite"
        />
        <p class="text-destructive" *ngIf="isInvalid('quantite')">
          <span *ngIf="hasError('quantite', 'required')">Required</span>
          <span *ngIf="hasError('quantite', 'min')">1 minimum</span>
        </p>
      </div>
      <div class="pt-4">
        <label class="text-lg">Prix d'achat</label>
        <input class="input w-full px-2 py-1" type="number" formControlName="prixUnitaire" />
        <p class="text-destructive" *ngIf="isInvalid('prixUnitaire')">
          <span *ngIf="hasError('prixUnitaire', 'required')">Required</span>
        </p>
      </div>

      <div class="pt-4">
        <label class="text-lg">Date de péremption</label>
        <input class="input w-full px-2 py-1" type="date"  formControlName="datePeremptionMedicament" />
        <p class="text-destructive" *ngIf="isInvalid('datePeremptionMedicament')">
          <span *ngIf="hasError('datePeremptionMedicament', 'required')">Required</span>
        </p>
      </div>
      <div class="flex justify-end gap-4 pt-6">
        <button class="button-danger" (click)="cancel()">Annuler</button>
        <button type="submit" class="button-primary">{{ selected === null ? 'Ajouter' : 'Modifier' }}</button>
      </div>
    </form>
  </div>
</div>
