<style>
  input.ng-touched.ng-invalid {
    outline: 2px solid var(--destructive);
  }
</style>

<div class="card z-10 w-[362px] py-2">
  <!-- tete -->
  <div class="flex justify-between px-4 py-3">
    <p class="text-xl font-semibold">Panier</p>
    <p>{{ cart.length }} {{ cart.length < 2 ? "article" : "articles" }}</p>
  </div>

  <hr class="text-border" />

  <!-- content -->
  <div class="px-2">
    <!-- un medicament  -->
    <p class="py-2 text-center" *ngIf="cart.length === 0">vide</p>
    <div
      class="grid grid-cols-[1fr_100px_50px] px-5 py-2"
      *ngFor="let medicament of cart"
    >
      <div class="">
        <p>{{ medicament.nomMedicament }}</p>
        <p class="text-muted-foreground text-sm">
          {{ medicament.quantite }} x {{ medicament.prixMedicament }} ar
        </p>
      </div>
      <div class="flex items-center justify-end">
        <p>{{ medicament.quantite * medicament.prixMedicament }} ar</p>
      </div>
      <div class="flex items-center justify-end">
        <button
          class="border-destructive text-muted-foreground bg-destructive/50 hover:text-destructive-foreground flex h-6 w-6 items-center justify-center rounded-full border"
          (click)="remove(medicament.id)"
        >
          x
        </button>
      </div>
    </div>
  </div>

  <!-- total -->
  <div class="border-t-border flex justify-between border-t px-4 py-3">
    <p class="text-xl font-semibold">Total</p>
    <p class="text-xl font-semibold">{{ prixTotal }} ar</p>
  </div>

  <!-- formulaire -->
  <form (submit)="envoiDemande($event)">
    <div class="px-4 pb-4">
      <div>
        <input
          class="input w-full px-2 py-0.5"
          type="text"
          placeholder="Nom client..."
          [formControl]="nomClient"
        />
        <p class="text-destructive" *ngIf="nomClient.invalid && nomClient.touched">
          <span *ngIf="nomClient.hasError('required')">Required</span>
        </p>
      </div>

      <div class="pt-4"></div>
      <button class="button-primary w-full" type="submit">Confirmer</button>
    </div>
  </form>
</div>
