<nav class="grid grid-cols-2 shadow-2xl">
  <button
    class="py-4 text-lg font-medium"
    [ngClass]="
      isPage('tableau-de-bord')
        ? 'text-primary border-b-primary border-b-2'
        : ''
    "
    (click)="changePage('tableau-de-bord')"
  >
    Tableau de bord
  </button>
  <button
    class="py-4 text-lg font-medium"
    [ngClass]="
      isPage('nouveau-stock')
        ? 'text-primary border-b-primary border-b-2'
        : ''
    "
    (click)="changePage('nouveau-stock')"
  >
    Nouveau Stock
  </button>
</nav>
